[submodule "BasicBox"]
	path = BasicBox
	url = https://github.com/rizoto/BasicBox.git
[submodule "TradingToolBox"]
	path = TradingToolBox
	url = ./TradingToolBox
[submodule "cmdScalp"]
	path = cmdScalp
	url = ./cmdScalp
[submodule "parser"]
	path = parser
	url = ./parser
[submodule "ta-lib"]
	path = ta-lib
	url = ./ta-lib
